<% include ../partials/header %>

<br>
<div class="container">
    <div class="row">
        <% allCourses.forEach((course)=>{ %>
        <div class="col-md-4 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <%= course.courseName.toUpperCase() %>
                </div>
                <img src=" https://wallpaperplay.com/walls/full/5/e/b/77588.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><%= course.description %></p>
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer">Created by <%= course.creator %> </footer>
                    </blockquote>
                    <a href="/courses/<%= course._id %>" class="btn btn-primary">Enroll</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="card">
                <div class="card-header">
                    JavaScript
                </div>
                <img src="https://cdn-images-1.medium.com/max/1600/1*zWhOGf_PgX0nRTLZLmFpGg.png" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <p class="card-text">JavaScript (JS) is a lightweight, interpreted or JIT compiled programming
                        language with first-class functions...</p>
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer">Created by Brad Traversy </footer>
                    </blockquote>
                    <a href="#" class="btn btn-primary">Enroll</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="card">
                <div class="card-header">
                    Java
                </div>
                <img src="https://fossbytes.com/wp-content/uploads/2018/09/java-11.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Java is a general-purpose computer-programming language that is concurrent,
                        class-based, object-oriented...</p>
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer">Created by Tim Buchalka </footer>
                    </blockquote>
                    <a href="#" class="btn btn-primary">Enroll</a>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
    <hr>

</div>













<% include ../partials/footer %>