<% include ./partials/header %>
<style>
    .carousel-inner>.carousel-item>img {
        width: 100%;
        height: 100%;
    }

    @media (min-width: 576px) {
        #frm {
            margin-left: 10%;
        }

    }

    #frm {
        position: absolute;
        top: 40%;
    }

    h1 {
        text-align: center;
        color: white;
        margin-bottom: 20px;
    }
</style>
<div class="container-fluid" style="padding: 0px;">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block " src="http://articalguides.com/wp-content/uploads/2018/08/edication.jpg"
                    alt="First slide" style="opacity:0.3">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                    alt="Second slide" style="opacity:0.3">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3kKdVciWlYbQibqnu_UqCUt8d4gfVCqKPaG12-y7USTU5WVvr"
                    alt="Third slide" style="opacity:0.3">
            </div>
        </div>
    </div>
    <div id="frm" class="container">
        <!--Search Bar-->
        <h1 class="text-dark font-weight-bold m5-10 pr-5">Enter Course Name</h1>
        <form class="form-inline justify-content-center" method="GET" action="/courses">
            <input id="search" class="form-control mr-sm-2" name="courses" type="text" placeholder="Enter Course name"
                size="50">
            <button class="btn btn-danger red-gradient my-2 my-sm-0" type="submit">Search</button>

        </form>

    </div>
</div>
<br>














<% include ./partials/footer %>